<%- include("partials/header") -%>

<h1>About</h1>

<!-- getting aboutPara from js file as we render data from js file to ejs file -->
<p><%= aboutContent %></p>





<%- include("partials/footer") -%>